.root{
    -fx-background-image: url('../background.jpg') ;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-pref-width: 854px;
    -fx-pref-height: 480px;
}
